{% extends 'admin/base.html.twig' %}

{% block title %}Create a new language{% endblock %}

{% form_theme myForm _self %}

{% block body %}
    <div class="container">
    
        {{form_start(myForm)}}

            {{form_widget(myForm)}}
            <button type="submit" class="btn btn-primary">Create</button>
            <a href="{{ path('admin_languages_index') }}" class="btn btn-secondary">Back</a>

        {{form_end(myForm)}}
    
    </div>
{% endblock %}